main > div {
    justify-content : flex-start ;
    align-items : flex-start ;
}
main > div:nth-child(1) {
    width : 40% ;
    row-gap: calc(10% - 2em) ;
}
main > div:nth-child(1) > * {
    width : 90%
}
main > div:nth-child(1) > input {
    height : 2.5em 
}
main > div:nth-child(1) > div {
    max-height : 90% ;
    border : 1px solid var(--color)
}
main > div:nth-child(2) {
    width : 10% ;
    border : 1px solid var(--color) 
}

@media only screen and ( max-width : 900px ) {
    main { width : 100% ; margin-left : 0px }
    main > div:nth-child(2) {width : 20% }
    main > div:nth-child(1) {width : 70% ;
        align-items : flex-end }
}